body {
    width: 100%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
}

.wrapper {
    max-width: 1000px;
    background-color: white;
    margin: 20px auto 20px auto;
}

a {
    text-decoration: none;
    color: black;
}

.filters {
    width: 100%;
    line-height: 0.5;
}

.search-filters {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.search-button {
    width: 100px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;  
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(131, 26, 26);
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
  }

.main-row {
    font-weight: bold;
    background-color: lightgray;
}

h1 {
    color: black;
}

h2 {
    font-weight: bold;
    font-size: medium;
    color: black;
    text-decoration: none;
}

h3 {
    font-weight: normal;
    font-size: small;
    color: black;
}

/* START OF HEADER */
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgray;
}

.logo {
    width: 100px;
    text-align: center;
    margin: 20px;
}

.menu {
    flex-grow: 1;
    text-align: center;
}

.login {
    width: 100px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;  
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(131, 26, 26);
    margin: 20px;
}

nav {
    background-color: lightgray;
}

nav>ul {
    padding: 10px;
    list-style-type: none;
}

nav>ul>li {
    display: inline-block;
}

nav>ul>li>a {
    margin-right: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

nav>ul>li>a.current {
    color: rgb(131, 26, 26);
    font-weight: bold;
}
/* END OF HEADER */


/* START OF FOOTER */
footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    font-size: 16px;
    font-weight: bold;
}

.left-text {
    padding-left: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.separator {
    padding-top: 10px;
    padding-bottom: 10px;   
}

.right-text {
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;   
}
/* END OF FOOTER */